#postingBlock {
  margin: 50px auto 0 auto;
  align-items: center;
  border: none;
  padding: 20px;
  width: 800px;
  height: 100%;
  text-align: center;
  font-size: 32px;
  border-bottom: 1px solid #000;
}

#postingBlock p {
  margin-left: 5px;
  font-weight: 700;
}

.postingImg {
  text-align: center;
  margin-top: 50px;
}

.postingImg img {
  height: auto;
  max-width: 90%;
  max-height: 500px;
  border-radius: 5px;
  text-align: center;
}

.postingContent {
  margin: 50px 0;
  text-align: center;
}

.postingContent p {
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
}

.postingImg:hover {
  cursor: pointer;
}

#content {
  padding-bottom: 100px;
}
