@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  font-family: "Nanum Gothic", sans-serif;
}

.postingPage {
  margin: 50px 0;
  text-align: center;
}

.postingPage li {
  text-decoration: none;
  display: inline-block;
}

.postingPage li p {
  text-decoration-line: none;
  font-size: 17px;
  padding: 5px 5px;
}

.postingPage li p:hover {
  color: blue;
}

#postingBlock {
  display: inline-block;
}

.pBbutton {
  text-align: center;
  margin: 50px;
}

#postingBlock div button {
  cursor: pointer;
  padding: 10px 40px;
  border: none;
}

#postingBlock div button:hover {
  border: 0.3px solid #000;
  transition: 0.3s;
  background-color: aliceblue;
}
