p {
  display: inline-block;
}

.memberManage p:nth-child(1) {
  background-color: #fff;
  color: #000;
}

.memberManage p:hover {
  background-color: rgb(153, 148, 148);
  color: #fff;
  transition: 0.3s;
}

.announceWrite p {
  background-color: #fff;
  color: #000;
}

.managerPostingTitle {
  max-width: 40%;
  width: 100%;
}

.managerPostingId {
  max-width: 17%;
  width: 100%;
}

.managerPostingDay {
  max-width: 17%;
  width: 100%;
}
.managerPostingModify {
  max-width: 20%;
  width: 100%;
}

.managerPosting {
  margin-top: 10px;
  display: inline-block;
  margin-left: 110px;
  width: 85%;
  border-bottom: 1px solid #000f;
}

.managerPosting div {
  display: inline-block;
  text-align: center;
  font-weight: 700;
}

.postingTitle {
  max-width: 40%;
  width: 100%;
}

.postingTitle a {
  color: rgb(120, 118, 118);
}

.postingId {
  max-width: 17%;
  width: 100%;
}

.postingDay {
  max-width: 17%;
  width: 100%;
}
.postingModify {
  max-width: 20%;
  width: 100%;
}

.postingModify button {
  cursor: pointer;
  background-color: rgb(244, 140, 140);
  color: #fff;
  padding: 5px 20px;
  margin-left: 30px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.postingModify button:hover {
  background-color: rgb(139, 139, 139);
  transition: 0.4s;
}

.loadButton {
  text-align: center;
  margin: 50px;
}

.loadButton button {
  cursor: pointer;
  padding: 10px 40px;
  border: none;
}

.loadButton button:hover {
  border: 0.3px solid #000;
  transition: 0.3s;
  background-color: aliceblue;
}
