#idFindBlock {
  margin: 20px auto 0 auto;
  align-items: center;
  border: none;
  padding: 60px;
  width: 550px;
  height: 100%;
  text-align: center;
}

#idFindBlock div {
  margin: 10px 0;
}

.idFindTitle {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 100px;
}

.idFindText {
  text-align: left;
}

.idFindText .name {
  margin-right: 50px;
}

.idFindText .name2 {
  margin-right: 20px;
}

.idFindPwd {
  display: inline;
}

.nameBlock {
  padding: 5px;
  width: 255px;
  border: 3px solid #babdbe;
  display: inline-block;
}

.pwdBlock {
  display: inline;
  font-size: 15px;
  padding: 5px;
  width: 80px;
  margin-bottom: 10px;
  margin-top: 5px;
  border: 3px solid #babdbe;
}

.idFindSubmit {
  padding: 50px 0;
  text-decoration: none;
}

.idFindSubmit p {
  border: none;
  margin: 0px 0 10px 0;
  width: 100px;
  text-decoration: none;
}

.idFind {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 40px 5px 40px;
  background-color: aquamarine;
}

.idFind:hover {
  cursor: pointer;
  background-color: #babdbe;
  color: white;
  transition: 0.3s;
}

.loginBack {
  font-size: 14px;
  padding: 5px 20px 5px 20px;
  background-color: #c0cfff;
}

.loginBack:hover {
  cursor: pointer;
  background-color: #5870cb;
  color: white;
  transition: 0.3s;
}
