@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

.nav {
  background-color: #fff;
  justify-content: space-between;
  height: 70px;
  box-shadow: 1px solid black;
  padding: 1rem 9%;
  display: flex;
  z-index: 1000;
  align-items: center;
  margin: -0.5rem 2.5rem 0.5rem -0.5rem;
}

.logo {
  display: inline-block;
  font-size: 36px;
  color: #212121;
  font-weight: 800;
  font-family: "NanumSquare", san-serif;
}

.logo:hover {
  opacity: 80%;
}

.menu {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-family: "NanumSquare", san-serif;
  font-weight: 700;
  font-size: 16px;
  align-items: right;
}

.menu:hover {
  color: rgb(34, 94, 40);
  transition: 0.1s;
  text-decoration: underline;
}
