p {
  display: inline-block;
}

#myPageTitle {
  margin: 20px auto 0 auto;
  align-items: center;
  border: none;
  padding: 60px;
  width: 100%;
  max-width: 170vh;
  height: 100%;
  text-align: left;
  font-size: 28px;
}

#myPageTitle p span {
  font-weight: 900;
  font-size: 36px;
  padding: 0 10px;
}

.loginSetting {
  text-align: center;
}

.loginSettingBlock {
  margin-top: 50px;
  padding: 50px 0;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.loginSettingBlock p {
  border: none;
  margin: 0px 10px 10px 0;
  width: 100%;
  max-width: 170px;
  text-decoration: none;
}

.loginModify {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 20px 5px 20px;
  background-color: rgb(98, 246, 209);
  border-radius: 5px;
}

.loginModify:hover {
  cursor: pointer;
  background-color: #babdbe;
  color: white;
  transition: 0.3s;
}

.widrawalBlock {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 40px 5px 40px;
  background-color: rgb(246, 98, 98);
  border-radius: 5px;
}

.widrawalBlock:hover {
  cursor: pointer;
  background-color: #babdbe;
  color: white;
  transition: 0.3s;
}
