p {
  display: inline-block;
}

.recommend {
  margin: 20px auto 0 90px;
  height: 100%;
  border-radius: 5px;
  display: inline;
}

.recommendBlock {
  display: inline-block;
  margin: 0 20px 50px 0;
  max-width: 50vh;
}

.recommendImg img {
  height: auto;
  max-height: 230px;
  border-radius: 5px;
  display: inline-block;
}

.rating {
  text-align: center;
  margin-top: 10px;
}

.rating:hover {
  cursor: pointer;
}

.rating {
  font-size: 24px;
}

.recommendContent {
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

.recommendContent div {
  display: block;
}

.recommendContentTitle p {
  font-size: 20px;
  font-weight: 900;
  padding: 10px 0;
}

.BookMark {
  font-size: 32px;
  float: right;
  margin-right: 20px;
  padding: 10px 0;
  color: red;
  cursor: pointer;
}

.recommendContentContent p {
  font-size: 14px;
  font-weight: 400;
}

.recommendContentButton p {
  background-color: rgb(39, 198, 39);
  border-radius: 5px;
  max-width: 90px;
  padding: 5px 10px;
  cursor: pointer;
}

.recommendContentButton p:hover {
  background-color: rgb(163, 247, 247);
  color: black;
  transition: 0.5s;
}
