#myPageTitle {
  margin: 20px auto 0 auto;
  align-items: center;
  border: none;
  padding: 60px;
  width: 100%;
  max-width: 170vh;
  height: 100%;
  text-align: left;
  font-size: 28px;
}

#myPageTitle p {
  font-weight: 900;
  font-size: 24px;
}

#myPageTitle p span {
  font-weight: 900;
  font-size: 32px;
}

.recommend {
  margin: 20px auto 0 auto;
  width: 100%;
  height: 100%;
  max-width: 170vh;
}

.recommendBlock {
  width: 100%;
  display: inline-block;
  margin: 0 20px 50px 0;
}

.recommendImg img {
  height: auto;
  width: 100%;
  max-height: 200px;
  border-radius: 5px;
  display: inline-block;
}

.rating {
  text-align: center;
  margin-top: 10px;
}

.rating:hover {
  cursor: pointer;
}

.star {
  color: #edf034;
  font-size: 24px;
}

.recommendContent {
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

.recommendContent div {
  display: block;
  margin: 40px 0;
}

.recommendContentTitle p {
  font-size: 24px;
  font-weight: 900;
  padding: 20px 0;
}

.recommendContentTitle i {
  font-size: 32px;
  float: right;
  margin-right: 20px;
}

.recommendContentTitle i:hover {
  cursor: pointer;
}

.recommendContentContent a {
  font-size: 14px;
  font-weight: 400;
}

.recommendContentButton a {
  background-color: rgb(39, 198, 39);
  border-radius: 5px;
  max-width: 70px;
  padding: 5px 10px;
}

.recommendContentButton a:hover {
  background-color: rgb(163, 247, 247);
  color: black;
  transition: 0.5s;
}

.rcBlock {
  background-image: url(../../public/img/rcBlock.jpg);
  width: 100%;
  height: 520px;
  display: flex;
}
.rcBlock div {
  display: flex;
  align-items: center;
  z-index: 1000;
  position: absolute;
  top: 37%;
  left: 40%;
}

.rcBlock div:hover {
  opacity: 80%;
  transition: 0.3s;
}

.rcBlock p {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 20px 40px;
  font-weight: 600;
  font-size: 20px;
}

.slideButtonBlock {
  width: 20%;
  margin: 0 auto;
}

.slideText {
  font-size: 16px;
  font-weight: 900;
  color: #311b92;
}
