.mapBlock {
  width: 100%;
  display: flex;
}

.mapCatagory {
  margin-top: 50px;
  width: 27%;
  float: left;
  display: block;
}

.mapCatagory div {
  align-items: center;
  text-align: center;
}

.mapCatagory input {
  width: 200px;
  padding: 0.8em 0.5em;
  margin: 20px;
  border-radius: 0px;
}

.mapCatagory p {
  margin-bottom: 20px;
  display: block;
  font-weight: 900;
}

.mapCatagory div select {
  width: 200px;
  padding: 0.8em 0.5em;
  margin: 20px;
  cursor: pointer;
  border-radius: 0px;
}

#myMap {
  width: 80%;
  height: 80vh;
  margin: 50px 30px 20px 50px;
  float: right;
  border-style: solid;
  border-width: medium;
  border-color: #d8d8d8;
}

.inputForm {
  margin-left: 20px;
}

.inputForm input {
  border: 1px solid #888;
}

.inputForm button {
  padding: 5px 20px;
  cursor: pointer;
  border: 1px solid #888;
}

.inputForm button:hover {
  opacity: 70%;
}

.mapText {
  width: 92%;
  margin: 0 auto;
  padding-left: 10px;
}
